*{
    box-sizing: border-box;;
}
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
.repos-container{
    width: 800px;
    background-color: #F6f6f6;
    margin: auto;
}

.repos-container .get-repos{
    padding: 20px;
    display: flex;
    background-color: #EEE;
}
.repos-container .get-repos input{
    width: 100%;
    padding: 15px 20px;
    border: none;
    font-size: 20px;
    height: 54px;
}

.repos-container .get-repos input:focus{
    outline: 2px solid #F44336;
    
}

.repos-container .get-repos .get-button{
    width: 140px;
    margin-left: 10px;
    height: 54px;
    background-color: #F44336;
    color: #FFF;
    line-height: 54px;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
}
.repos-container .show-data{
    padding: 20px;
    background-color: #E0e0e0
}

.repos-container  .show-data .repo-box{
    background-color: #FFF;
    padding: 15px;
}
.repos-container  .show-data .repo-box:not(:last-child){
    margin-bottom: 10px
}
.repos-container  .show-data .repo-box a,
.repos-container  .show-data .repo-box span{
    float: right;
    margin-left: 4px;
    border-radius: 4px;
    color: #FFF;
    font-size: 12px;
    width: 90px;
    text-align: center;
    padding: 4px;
}
.repos-container  .show-data .repo-box a{
    text-decoration: none;
    background-color: #E91E63;
    transition: background-color .5s ease-in-out;
}
.repos-container  .show-data .repo-box a:hover{
    background-color: #c71450;

}
.repos-container  .show-data .repo-box span{
    background-color: #009688;
}